.fundo-cinza{
    background-color: lightgray;
    padding: 2em;
}

/* index.php */
.form-group label{
    font-weight: bold;
}

/* pagina-individual */
.texto-label{
    font-size: 0.8em;
}

.div-imagem{
    padding-left: 0; 
    /*border: 1px solid white;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-produto{
    max-width:100%;
    max-height:100%;
}